@{
    ViewData["Title"] = "Contact";
}

<div class="text-center">
    <h1 class="display-4">Contact</h1>
    <p>Name: Asier Ormaechea Rodriguez.</p>
    <p>TLF: 650 65 32 98</p>
    <p>e-mail: web23aormaechea@imaltuna.com.</p>
    <p>prueba</p>
</div>
